@{
    Layout = "default";
    Title = "AspectF#";
    Description = "AspectF# - .NET F#-based Aspect-oriented Functional Programming Language";
}

<h1>Hello, AspectF#!</h1>

This project is about the path to find or create <a href="https://www.microsoft.com/net">.NET</a> <a href="http://jekyllrb.com/docs/home">F#</a>-based <a href="https://en.wikipedia.org/wiki/Aspect-oriented_programming">aspect-oriented</a> <a href="https://en.wikipedia.org/wiki/Functional_programming">functional programming language</a>.
It seems except for <a href="http://sip.cs.princeton.edu/projects/aspectml/">AspectML</a> and <a href="http://sourceforge.net/projects/aspectfun/">AspectFun</a> this area is not explored too much.
